<div class="product">
  <div class="product-details">
    <img [src]="getImageUrl(product)" [alt]="product.name" />
    <div class="product-info">
      <div class="name">{{ product.name }}</div>
      <div class="description">{{ product.description }}</div>
      <div class="category">Part Type: {{ product.category }}</div>
    </div>
  </div>
  <div class="price">
    <div [ngClass]="{ strikethrough: product.discount > 0 }">
      <!-- The above is an example of ngClass binding -- pass to it an object, 
       the properties of the object will be named (key) for the class and a boolean (value) 
       you can pass in several object. Or you could pass in a function that deals with the object-->
       
      <!-- <div> [class.strikethrough]="product.discount > 0"    Another way to bind this is Class binding-->
      {{ product.price | currency : "USD" }}
    </div>
    <div *ngIf="product.discount > 0" class="discount">
      {{ product.price * (1 - product.discount) | currency : "USD" }}
    </div>
    <button class="cta" (click)="buyButtonClicked(product)">Buy</button>
  </div>
</div>
