<bot-site-header></bot-site-header>
<!-- <h1>2 + 2 = {{ 2 + 2 }}</h1> -->
<!-- Above is an example of interpolation, the use of expressions {{}} for Angular to evalaute and turn into html when rendering
 note, that more advanced JavaScript will not render, it works for simple expressions, 
 helps to prevent putting too much javascript into our html templates -->
<!-- <bot-home></bot-home> -->
<!-- // This is the selector of the Home component, notice the syntax has a full closing tag -->
 <bot-catalog></bot-catalog>